:root {
  --border-radius: 12px;
  --color-primary: '#00d7f6';
  --color-primary-dark: '#007080';
  --color-secondary: '#f5f6fa';
  --color-tertiary: '#282728';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
main {
  height: 100vh;
  max-width: 100vw;
}

main {
  background: var(--color-primary);
  background: linear-gradient(90deg, #00d7f6 50%, #f5f6fa 50%);
  display: grid;
  place-items: center;
}

main.dark {
  background: var(--color-primary-dark);
  background: linear-gradient(90deg, #007080 50%, #282728 50%);
  display: grid;
  place-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  width: 75%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card.dark {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.changeTheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-tertiary);
}

.changeTheme.dark {
  color: #f5f6fa;
}

.changeTime {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  width: 3vw;
  color: var(--color-tertiary);
}

.changeTime.dark {
  color: #f5f6fa;
}

.inputTime {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5vw;
  top: 1rem;
  left: 1rem;
}

.inputTime input {
  max-width: 50px;
  padding-left: 0.3vw;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-tertiary);
}

.inputTime input.dark {
  color: #f5f6fa;
}

.inputTime input.dark::placeholder {
  color: #f5f6fa;
}

.inputTime button {
  background: transparent;
  height: 30px;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-tertiary);
}


h1 {
  font-size: calc(1.5rem + 2vw);
  margin-top: 2vh;
  margin-bottom: 5vh;
  letter-spacing: 2px;
  color: #282728;
}

h1.dark {
  color: #f5f6fa;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;
}

.number {
  font-size: 5rem;
  font-weight: 700;
  color: #282728;
}

.number.dark {
  color: #f5f6fa;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;
  margin-top: 5vh;
}

.buttonActive {
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: #282728;
  width: 50%;

  font-size: 24px;
  font-weight: 700;
  padding: 1vh 1.5vw;
}

.buttonActive.dark {
  color: #f5f6fa;
}